<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://static.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
    <link rel="mask-icon" type=""
        href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg"
        color="#111">
    <title><%= title%></title>
    <link rel="stylesheet" href="stylesheets/style.css">

    <script>
        window.console = window.console || function (t) { };
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>
</head>

<body translate="no">

    <div class="calendar-container">
        <div class="calendar-header">
            <button class="btn btn-light" id="today">Today</button>
            <div class="ico-arrow">
                <span style="cursor:pointer" id="previous" data-toggle="tooltip" data-placement="top" title="" data-original-title="이전">
                    <i class="material-icons">
                        chevron_left
                    </i>
                </span>
                <span style="cursor:pointer" id="next" data-toggle="tooltip" data-placement="top" title="" data-original-title="다음">
                    <i class="material-icons">
                        chevron_right
                    </i>
                </span>
            </div>
            <h4 id="year-month"></h4>
            <ul class="nav nav-tabs view-tab" id="view" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab-month" data-toggle="tab" href="#month" role="tab"
                        aria-controls="month" aria-selected="true">월</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-day" data-toggle="tab" href="#day" role="tab" aria-controls="day"
                        aria-selected="false">일</a>
                </li>
            </ul>
        </div>
        
        <div class="tab-content">
            <div class="tab-pane active show" id="month" role="tabpanel" aria-labelledby="tab-month">
                <div class="monthly-calendar">
                    <div class="week-day">
                        <div class="day-name">일</div>
                        <div class="day-name">월</div>
                        <div class="day-name">화</div>
                        <div class="day-name">수</div>
                        <div class="day-name">목</div>
                        <div class="day-name">금</div>
                        <div class="day-name">토</div>
                    </div>
                    <div class="calendar"></div>
                </div>
            </div>

            <div class="tab-pane" id="day" role="tabpanel" aria-labelledby="tab-day">
                <div class="daily-calendar">
                    <span class="day-name" id="date-day"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="registerSchedule" tabindex="-1" role="dialog" aria-labelledby="registerScheduleLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerScheduleLabel">일정 만들기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label">일정 제목</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">일정 설명</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">일정 시작 날짜</label>
                                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1">
                                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="material-icons">
                                                    calendar_today
                                                </i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">일정 시작 시간</label>
                                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input"
                                            data-target="#datetimepicker2">
                                        <div class="input-group-append" data-target="#datetimepicker2"
                                            data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="material-icons">
                                                    access_time
                                                </i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">일정 종료 날짜</label>
                                    <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input"
                                            data-target="#datetimepicker3">
                                        <div class="input-group-append" data-target="#datetimepicker3"
                                            data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="material-icons">
                                                    calendar_today
                                                </i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">일정 종료 시간</label>
                                    <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input"
                                            data-target="#datetimepicker4">
                                        <div class="input-group-append" data-target="#datetimepicker4"
                                            data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="material-icons">
                                                    access_time
                                                </i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option2">
                                <label class="form-check-label" for="inlineCheckbox1">하루 종일</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="create-schedule">일정 만들기</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modifySchedule" tabindex="-1" role="dialog" aria-labelledby="modifyScheduleLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modifyScheduleLabel">일정 수정하기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label">일정 제목</label>
                            <input type="text" class="form-control" id="recipient-name2">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">일정 설명</label>
                            <textarea class="form-control" id="message-text2"></textarea>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">일정 시작 날짜</label>
                                    <div class="input-group date" id="datetimepicker12" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker12">
                                        <div class="input-group-append" data-target="#datetimepicker12" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="material-icons">
                                                    calendar_today
                                                </i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">일정 시작 시간</label>
                                    <div class="input-group date" id="datetimepicker22" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input"
                                            data-target="#datetimepicker22">
                                        <div class="input-group-append" data-target="#datetimepicker22"
                                            data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="material-icons">
                                                    access_time
                                                </i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">일정 종료 날짜</label>
                                    <div class="input-group date" id="datetimepicker32" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input"
                                            data-target="#datetimepicker32">
                                        <div class="input-group-append" data-target="#datetimepicker32"
                                            data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="material-icons">
                                                    calendar_today
                                                </i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">일정 종료 시간</label>
                                    <div class="input-group date" id="datetimepicker42" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input"
                                            data-target="#datetimepicker42">
                                        <div class="input-group-append" data-target="#datetimepicker42"
                                            data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="material-icons">
                                                    access_time
                                                </i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">하루 종일</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="modify-schedule">일정 수정하기</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    
    <script id="rendered-js">
        var time = new Date("<%=time%>");
        var day = ['일', '월', '화', '수', '목', '금', '토'];
        var month = [31, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        var scheIdx = [0, 7, 14, 21, 28, 35];
        var calendar = new Array(42);
        var schedulInfo;
        var date;
        var popoverIdx;
        var text;
        var popoverList;
        var updateId;
        var selectedTime = new Date();

        $('#today').click(function(){
            time = new Date(Date.now());
            $.year_month();
            $.date_day(time);
            $.createCalender();
            $.load_scheduls();
        });

        $('[data-toggle="tab"]').click(function(){
            $('.popover').popover('dispose');
        });

        $("input[type=checkbox]").on('click', function(){
            if($("input:checked").val() != undefined){
                if($(this).attr('id') == 'inlineCheckbox1'){
                    $('[data-target="#datetimepicker2"]').prop('disabled', true);
                    $('[data-target="#datetimepicker4"]').prop('disabled', true);
                    $('[data-target="#datetimepicker2"]').val('00:00 AM');
                    $('[data-target="#datetimepicker4"]').val('11:59 PM');
                }
                else if($(this).attr('id') == 'inlineCheckbox2'){
                    $('[data-target="#datetimepicker22"]').prop('disabled', true);
                    $('[data-target="#datetimepicker42"]').prop('disabled', true);
                    $('[data-target="#datetimepicker22"]').val('00:00 AM');
                    $('[data-target="#datetimepicker42"]').val('11:59 PM');
                }
            }
            else{
                if($(this).attr('id') == 'inlineCheckbox1'){
                    $('[data-target="#datetimepicker2"]').prop('disabled', false);
                    $('[data-target="#datetimepicker4"]').prop('disabled', false);
                }
                else if($(this).attr('id') == 'inlineCheckbox2'){
                    $('[data-target="#datetimepicker22"]').prop('disabled', false);
                    $('[data-target="#datetimepicker42"]').prop('disabled', false);
                }
            }
        })

        $.createCalender = function() {
            $('.popover').popover('dispose');
            if(time.getFullYear()%4 == 0 || time.getFullYear()%100 == 0 ||time.getFullYear()%400 == 0){
                month[2] = 29;
            }
            else{
                month[2] = 28;
            }

            date = new Date(time);
            date.setDate(date.getDate() - 1);

            for(idx=time.getDay()-1;idx>=0;idx--){
                calendar[idx] = new Date(date);
                date.setDate(date.getDate() - 1);
            }

            date = new Date(time);
            date.setDate(date.getDate() - 1);
            for(idx=time.getDay();date<=month[time.getMonth()+1];idx++){
                calendar[idx] = new Date(date);
                date.setDate(date.getDate() + 1);
            }

            if(idx <= 41){
                date.setDate(date.getDate() + 1);
                for(idx=idx;idx<=41;idx++){
                    calendar[idx] = new Date(date);
                    date.setDate(date.getDate() + 1);
                }
            }

            text = "";
            for(var i=0;i<6;i++){
                text += '<div class="week">';
                for(var j=0;j<7;j++){
                    // text += '<div class="day" id="' + (calendar[i * 7 + j].getMonth() + 1) + calendar[i * 7 + j].getDate() + '"><h3 class="day-label">';
                    text += '<div class="day" id="' + calendar[i * 7 + j].getTime() + '"><h3 class="day-label">';
                    text += calendar[i * 7 + j].getDate();
                    text += '</h3></div>';
                }
                text += '</div>';
            }
            $('.calendar').html(text);
        };

        $.year_month = function(){
            $('#year-month').html(time.getFullYear() + '년 ' + (time.getMonth() + 1) + '월');
        };

        $.date_day = function(presentTime){
            $('#day').html('<div class="daily-calendar"><span class="day-name" id="date-day">'+presentTime.getDate() + '일 ' + day[presentTime.getDay()] + '요일'+'</span></div>');
        };

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $.load_scheduls = function(){
            $.ajax({
                url: '/crud/read',
                async: true,
                type: 'POST',
                data:{
                    mtime: time,
                    start: calendar[0],
                    end: calendar[41]
                },
                dataType: 'text',
                beforeSend: function(jqXHR){},
                success: function(jqXHR) {
                    var data = JSON.parse(jqXHR);
                    schedulInfo = data.data;
                    popoverIdx = 0;
                    popoverList = new Array();
                    $.date_day(time);
                    for(var i=0;i<data.data.length;i++){
                        $.displaySchedule(data.data[i]);
                    }
                },
                error: function(jqXHR) {},
                complete: function(jqXHR) {}
            });
        }

        $('#previous').click(function () {
            if($('#tab-month').attr('aria-selected') == 'true'){
                time.setDate(0);
                time.setDate(1);
            }
            else{
                time.setDate(time.getDate()-1);
            }
            
            $.year_month();
            // $.date_day();
            $.createCalender();
            $.load_scheduls();
        });

        $('#next').click(function () {
            if($('#tab-month').attr('aria-selected') == 'true'){
                time.setDate(32);
                time.setDate(1);
            }
            else{
                time.setDate(time.getDate()+1);
            }
            
            $.year_month();
            // $.date_day();
            $.createCalender();
            $.load_scheduls();
        });

        $(function () {
            $('#view li:first-child a').tab('show');
        });

        $(".event-consecutive, .event, .event-repeated").click(function (event) {
            event.stopPropagation();
        });

        $('body').on('click', '.delete', function(){
            $('.popover').popover('dispose');
            $.ajax({
                url: '/crud/delete',
                async: true,
                type: 'POST',
                data: {
                    id: $(this).attr('idx')
                },
                dataType: 'text',
                beforeSend: function (jqXHR) { },
                success: function (jqXHR) {
                    time.setDate(1)
                    $.createCalender();
                    $.load_scheduls();
                },
                error: function (jqXHR) { },
                complete: function (jqXHR) { }
            });
        })

        $('body').on('click', '.update', function(){
            $('.popover').popover('dispose');
            var data;
            for(var i=0;i<schedulInfo.length;i++){
                if(schedulInfo[i].id == $(this).attr('idx')){
                    data = schedulInfo[i];
                    break;
                }
            }
            var sTime = new Date(data.sTime);
            var eTime = new Date(data.eTime);
            $('#recipient-name2').val(data.title);
            $('#message-text2').val(data.description);
            $('[data-target="#datetimepicker12"]').val(sTime.getFullYear() + '-' + (sTime.getMonth()+1) +'-'+sTime.getDate());
            $('[data-target="#datetimepicker22"]').val(sTime.getHours() + ':' + sTime.getMinutes());
            $('[data-target="#datetimepicker32"]').val(eTime.getFullYear() + '-' + (eTime.getMonth()+1) +'-'+eTime.getDate());
            $('[data-target="#datetimepicker42"]').val(eTime.getHours() + ':' + eTime.getMinutes());
            updateId = $(this).attr('idx');

            $('#modifySchedule').modal('show');

        })

        $(document).ready(function(){
            $('#day').on('click', '#date-day', function () {
                $('#registerSchedule').modal('show');
            });

            $('.calendar').on('click', '.day', function(){
                selectedTime.setTime($(this).attr('id'));
                
                var sDTime = new Date(selectedTime);
                var eDTime = new Date(selectedTime);
                sDTime.setHours(0);
                sDTime.setMinutes(0);
                sDTime.setSeconds(0);
                sDTime.setMilliseconds(0);
                eDTime.setHours(23);
                eDTime.setMinutes(59);
                eDTime.setSeconds(59);
                eDTime.setMilliseconds(999);
                $.year_month();
                $.date_day(selectedTime);
                popoverIdx = 0;
                for(var i=0;i<schedulInfo.length;i++){
                    var start = new Date(schedulInfo[i].sTime);
                    var end = new Date(schedulInfo[i].eTime);
                    var title = schedulInfo[i].title;
                    if((sDTime <= start && start <= eDTime)||(sDTime <= end && end <= eDTime) || (start < sDTime && eDTime < end)){
                        $.addDailySchedul(popoverIdx, title);
                    }
                    popoverIdx++;
                }
            });

            $('.calendar').on('dblclick', '.day-label', function () {
                date = new Date(Number($(this).closest('div').attr('id')));
                $('[data-target="#datetimepicker1"]').val(date.getFullYear() + '-' + (date.getMonth()+1) +'-'+date.getDate());
                $('[data-target="#datetimepicker2"]').val(date.getHours() + ':' + date.getMinutes());
                $('[data-target="#datetimepicker3"]').val(date.getFullYear() + '-' + (date.getMonth()+1) +'-'+date.getDate());
                $('[data-target="#datetimepicker4"]').val(date.getHours() + ':' + date.getMinutes());
                time.setDate(1);
                $('#registerSchedule').modal('show');
            });
        
            $('.calendar, #day').on('click', '.event', function(){
                // console.log($(this).attr('idx'))
                // console.log(popoverList[$(this).attr('idx')])
                $(this).popover({
                    placement: 'right',
                    html : true, 
                    content: popoverList[$(this).attr('idx')]
                });
            })
        })

        $.addSchedule = function(idx, span, id, title){
            var text = '';
            text += '<div class="event event-start event-end" idx="'
            text += id;
            text += '" data-span="';
            text += span;
            text += '" data-toggle="popover">';
            text += title;
            text += '</div>';
            // $("#" + (calendar[idx].getMonth() + 1) + calendar[idx].getDate()).append(text);
            $("#" + calendar[idx].getTime()).append(text);
        }

        $.addDailySchedul = function(id, title){
            var text = "";
            text += '<div class="event event-start event-end" idx="';
            text += id;
            text += '">';
            text += title;
            text += '</div>';
            $('.daily-calendar').append(text);
        }

        $.displaySchedule = function(data){
            var start = new Date(data.sTime);
            var end = new Date(data.eTime);
            var title = data.title;
            var description = data.description;
            var sDate = start.getFullYear() + '-' + (start.getMonth()+1)+'-'+start.getDate();
            var eDate = end.getFullYear() + '-' + (end.getMonth()+1)+'-'+end.getDate();
            var sHour = start.getHours() + ':' + start.getMinutes();
            var eHour = end.getHours() + ':' + end.getMinutes();
            var sIdx = 0;
            var eIdx = 41;
            var ssIdx;
            var eeIdx;

            var sDTime = new Date(time);
            var eDTime = new Date(time);
            sDTime.setHours(0);
            sDTime.setMinutes(0);
            sDTime.setSeconds(0);
            sDTime.setMilliseconds(0);
            eDTime.setHours(23);
            eDTime.setMinutes(59);
            eDTime.setSeconds(59);
            eDTime.setMilliseconds(999);

            if((sDTime <= start && start <= eDTime)||(sDTime <= end && end <= eDTime) || (start < sDTime && eDTime < end)){
                $.addDailySchedul(popoverIdx, title);
            }

            if(calendar[0].getTime() <= start.getTime()){
                for(sIdx=0;sIdx<41;sIdx++){
                    if(calendar[sIdx].getMonth() == start.getMonth() && calendar[sIdx].getDate() == start.getDate()){
                        break;
                    }
                }
            }

            if(calendar[41].getTime() > end.getTime()){
                for(eIdx=41;eIdx>=0;eIdx--){
                    if(calendar[eIdx].getMonth() == end.getMonth() && calendar[eIdx].getDate() == end.getDate()){
                        break;
                    }
                }
            }
        
            for(var i=0;i<scheIdx.length;i++){
                if(calendar[scheIdx[i]] > start){
                    ssIdx = i-1;
                    break;
                }
            }

            for(var i=scheIdx.length-1;i>=0;i--){
                if(calendar[scheIdx[i]] < end){
                    eeIdx = i;
                    break;
                }
            }
            
            if(ssIdx == undefined){
                ssIdx = 5;
            }
            if(eeIdx == undefined){
                eeIdx = 0;
            }

            if(start <= calendar[0] && calendar[41] <= end){
                for(var i=0;i<=5;i++){
                    $.addSchedule(scheIdx[i], 7, popoverIdx, title);
                }
            }
            else if(ssIdx < 0){
                for(var i=0;i<eeIdx;i++){
                    $.addSchedule(scheIdx[i], 7, popoverIdx, title);
                }
                $.addSchedule(scheIdx[eeIdx], eIdx - scheIdx[eeIdx] + 1, popoverIdx, title);
            }
            else if(calendar[41] <= end){
                $.addSchedule(sIdx, scheIdx[ssIdx] + 6 - sIdx + 1, popoverIdx, title);
                for(var i=ssIdx+1;i<=5;i++){
                    $.addSchedule(scheIdx[i], 7, popoverIdx, title);
                }
            }
            else if(ssIdx == eeIdx){
                $.addSchedule(sIdx, eIdx - sIdx + 1, popoverIdx, title);
            }
            else{
                $.addSchedule(sIdx, scheIdx[ssIdx] + 6 - sIdx + 1, popoverIdx, title);
                for(var i=ssIdx+1;i<eeIdx;i++){
                    $.addSchedule(scheIdx[i], 7, popoverIdx, title);
                }
                $.addSchedule(scheIdx[eeIdx], eIdx - scheIdx[eeIdx] + 1, popoverIdx, title);
            }
            
            var text1 = ""
            text1 += '<div class="content-line"><div class="event-marking"></div><div class="title"><h5>';
            text1 += title;
            text1 += '</h5><h7 class="reservation">';
            text1 += sDate + ' ~ ' + eDate;
            text1 += ' <span class="reservation-time">';
            text1 += sHour + ' ~ ' + eHour;
            text1 += '</span></div></div><div class="content-line"><i class="material-icons">notes</i><div class="title"><h7 class="reservation">';
            text1 += description;
            text1 += '</div><div id="popover-btn"><button class="btn btn-secondary delete" idx="';
            text1 += data.id;
            text1 += '" type="button">삭제</button>'
            text1 += '<button class="btn btn-secondary update" idx="';
            text1 += data.id;
            text1 += '" type="button">수정</button></div>'

            popoverList[popoverIdx] = text1;
            popoverIdx++;
        };

        $('#modify-schedule').click(function () {
            var title = $('#recipient-name2').val();
            var description = $('#message-text2').val();
            var sDate = $('[data-target="#datetimepicker12"]').val();
            var eDate = $('[data-target="#datetimepicker32"]').val();
            var sHour = $('[data-target="#datetimepicker22"]').val();
            var eHour = $('[data-target="#datetimepicker42"]').val();
            var sTime = new Date(sDate + " " + sHour);
            var eTime = new Date(eDate + " " + eHour);
            var cycle = 0;
            var data = {title: title, description: description, sTime: sTime, eTime: eTime}

            if(sTime <= eTime && title.length > 0){
                $.ajax({
                    url: '/crud/update',
                    async: true,
                    type: 'POST',
                    data: {
                        id: updateId,
                        title: title,
                        description: description,
                        sTime: sTime.getTime(),
                        eTime: eTime.getTime(),
                        cycle: cycle
                    },
                    dataType: 'text',
                    beforeSend: function (jqXHR) { },
                    success: function (jqXHR) {
                        $('#modifySchedule').modal('hide');
                        $.createCalender();
                        $.load_scheduls()
                    },
                    error: function (jqXHR) { },
                    complete: function (jqXHR) { }
                });
            }
        });

        $('#create-schedule').click(function () {
            var title = $('#recipient-name').val();
            var description = $('#message-text').val();
            var sDate = $('[data-target="#datetimepicker1"]').val();
            var eDate = $('[data-target="#datetimepicker3"]').val();
            var sHour = $('[data-target="#datetimepicker2"]').val();
            var eHour = $('[data-target="#datetimepicker4"]').val();
            var sTime = new Date(sDate + " " + sHour);
            var eTime = new Date(eDate + " " + eHour);
            var cycle = 0;
            var data = {title: title, description: description, sTime: sTime, eTime: eTime}

            title = title.trim();

            if(sTime <= eTime && title.length > 0){
                $.ajax({
                    url: '/crud/create',
                    async: true,
                    type: 'POST',
                    data: {
                        title: title,
                        description: description,
                        sTime: sTime.getTime(),
                        eTime: eTime.getTime(),
                        cycle: cycle
                    },
                    dataType: 'text',
                    beforeSend: function (jqXHR) { },
                    success: function (jqXHR) {
                        $('#registerSchedule').modal('hide');
                        $.createCalender();
                        $.load_scheduls()
                        // $.displaySchedule(data);
                    },
                    error: function (jqXHR) { },
                    complete: function (jqXHR) { }
                });
            }
        });

        $(function () {
            $('#datetimepicker1, #datetimepicker12').datetimepicker({
                format: 'YYYY-MM-DD'
            });

            $('#datetimepicker3, #datetimepicker32').datetimepicker({
                format: 'YYYY-MM-DD'
            });

        });

        $(function () {
            $('#datetimepicker2, #datetimepicker22').datetimepicker({
                format: 'LT'
            });

            $('#datetimepicker4, #datetimepicker42').datetimepicker({
                format: 'LT'
            });

        });

        $.year_month();
        $.createCalender();
        $.load_scheduls();
    </script>


</body>

</html>